In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./data/cars_data0705.csv', index_col=0)
data

,ad_num,company,model,price,engine,year,hand,km,eng_kind,test,current_owner,prev_owner,color,gearbox,trader,area,sub_area,price_list,price0705
1,65146899.0,ג'יפ / Jeep,גרנד צ'ירוקי,140000.0,3604.0,2017,2,95000,7,05/2023,0.0,6.0,1,0.0,0,2,מודיעין מכבים רעות,159500.0,140000.0
2,73811682.0,ג'יפ / Jeep,רנגלר ארוך,268000.0,1995.0,2021,2,29000,7,03/2024,0.0,0.0,0,0.0,0,2,רמת גן,278100.0,-1.0
3,77276021.0,מיצובישי,אאוטלנדר PHEV,149000.0,2360.0,2020,2,74000,3,12/2023,0.0,0.0,0,0.0,0,2,פתח תקווה,155500.0,-1.0
4,55670284.0,שברולט,טרייל בלייזר,145000.0,1341.0,2022,1,17000,7,01/2024,0.0,0.0,1,0.0,0,2,רמלה,152100.0,126000.0
5,93516523.0,וולוו,XC60,250000.0,1969.0,2022,2,30000,7,01/2024,0.0,0.0,2,0.0,0,2,פתח תקווה,274700.0,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,61230592.0,מאזדה,3,15000.0,1598.0,2009,3,300000,7,10/2023,0.0,2.0,2,0.0,0,43,ירוחם,12700.0,17000.0
3385,96450445.0,טויוטה,אוריס הייבריד,62000.0,1798.0,2014,3,147000,7,11/2023,0.0,0.0,0,0.0,0,43,באר שבע,54900.0,60000.0
3386,87660871.0,פיאט,דובלו,58000.0,1598.0,2017,1,53500,6,09/2023,0.0,0.0,0,1.0,0,43,אופקים,-1.0,29000.0
3387,69065361.0,ג'יפ / Jeep,קומפאס,230000.0,1332.0,2022,1,7000,3,11/2023,0.0,0.0,1,0.0,0,43,אופקים,223900.0,220000.0
3388,94410775.0,מרצדס,GLB,245000.0,1332.0,2020,1,60000,7,07/2023,0.0,0.0,0,0.0,0,43,באר שבע,240500.0,245000.0

# Encode Company

output as a dictionary to save in the encoding json file.

and finaly, create an encoding column that will encode the car company column.

In [3]:
# create car list of companies
car_company_list = list(data.company.value_counts().to_dict().keys())
# create encoding dictionary
car_enc_dict = {}
for i in range(0, len(car_company_list)):
    car_enc_dict[car_company_list[i]] = i
# print the new encoding dict
print(car_enc_dict)

{'טויוטה': 0, 'יונדאי': 1, 'קיה': 2, 'סקודה': 3, 'מיצובישי': 4, 'ניסאן': 5, 'מאזדה': 6, 'מרצדס': 7, 'שברולט': 8, 'ב.מ.וו': 9, 'אאודי': 10, 'פורד': 11, 'סוזוקי': 12, 'פולקסווגן': 13, "פיג'ו": 14, 'סיאט': 15, "ג'יפ / Jeep": 16, 'הונדה': 17, 'סובארו': 18, 'רנו': 19, 'סיטרואן': 20, 'טסלה': 21, 'וולוו': 22, 'פיאט': 23, 'אופל': 24, 'לקסוס': 25, 'אלפא רומיאו': 26, 'לנד רובר': 27, "אם. ג'י. / MG": 28, "דאצ'יה": 29, 'איסוזו': 30, 'קאדילק': 31, 'פורשה': 32, 'קופרה': 33, 'סאנגיונג': 34, 'מיני': 35, 'דייהטסו': 36, 'אינפיניטי': 37, "ג'נסיס": 38, 'ביואיק': 39, 'האמר': 40, 'קרייזלר': 41, 'מזראטי': 42, "ג'ילי - Geely": 43, "צ'רי / Chery": 44, "ג'י.איי.סי/ GAC": 45, 'יגואר': 46, 'די.אס / DS': 47, 'איווייס': 48, "ג'י.אם.סי / GMC": 49, 'מאן': 50, 'סמארט': 51, "דודג'": 52, 'לינקולן': 53, 'מקסוס': 54, 'סקייוול': 55, "אברת'": 56}

In [4]:
#create new encoded column
data['enc_company'] = None

In [5]:
# encode the company col
for index, row in data.iterrows():
    data.at[index, ['enc_company']] = car_enc_dict[row.company]
data

,ad_num,company,model,price,engine,year,hand,km,eng_kind,test,current_owner,prev_owner,color,gearbox,trader,area,sub_area,price_list,price0705,enc_company
1,65146899.0,ג'יפ / Jeep,גרנד צ'ירוקי,140000.0,3604.0,2017,2,95000,7,05/2023,0.0,6.0,1,0.0,0,2,מודיעין מכבים רעות,159500.0,140000.0,16
2,73811682.0,ג'יפ / Jeep,רנגלר ארוך,268000.0,1995.0,2021,2,29000,7,03/2024,0.0,0.0,0,0.0,0,2,רמת גן,278100.0,-1.0,16
3,77276021.0,מיצובישי,אאוטלנדר PHEV,149000.0,2360.0,2020,2,74000,3,12/2023,0.0,0.0,0,0.0,0,2,פתח תקווה,155500.0,-1.0,4
4,55670284.0,שברולט,טרייל בלייזר,145000.0,1341.0,2022,1,17000,7,01/2024,0.0,0.0,1,0.0,0,2,רמלה,152100.0,126000.0,8
5,93516523.0,וולוו,XC60,250000.0,1969.0,2022,2,30000,7,01/2024,0.0,0.0,2,0.0,0,2,פתח תקווה,274700.0,250000.0,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,61230592.0,מאזדה,3,15000.0,1598.0,2009,3,300000,7,10/2023,0.0,2.0,2,0.0,0,43,ירוחם,12700.0,17000.0,6
3385,96450445.0,טויוטה,אוריס הייבריד,62000.0,1798.0,2014,3,147000,7,11/2023,0.0,0.0,0,0.0,0,43,באר שבע,54900.0,60000.0,0
3386,87660871.0,פיאט,דובלו,58000.0,1598.0,2017,1,53500,6,09/2023,0.0,0.0,0,1.0,0,43,אופקים,-1.0,29000.0,23
3387,69065361.0,ג'יפ / Jeep,קומפאס,230000.0,1332.0,2022,1,7000,3,11/2023,0.0,0.0,1,0.0,0,43,אופקים,223900.0,220000.0,16
3388,94410775.0,מרצדס,GLB,245000.0,1332.0,2020,1,60000,7,07/2023,0.0,0.0,0,0.0,0,43,באר שבע,240500.0,245000.0,7

# Encode models

output as a dictionary to save in the encoding json file.

and finaly, create an encoding column that will encode the car model column.

In [6]:
# create model list of companies
car_model_list = list(data.model.value_counts().to_dict().keys())
# create encoding dictionary
model_enc_dict = {}
for i in range(0, len(car_model_list)):
    model_enc_dict[car_model_list[i]] = i
# print the new encoding dict
print(model_enc_dict)

{'אאוטלנדר': 0, 'טוסון': 1, "ספורטז'": 2, 'קשקאי': 3, 'קודיאק': 4, 'פיקנטו': 5, 'קורולה': 6, 'CX-5': 7, 'אקס טרייל': 8, "גרנד צ'ירוקי": 9, 'אוקטביה': 10, '3': 11, 'לנד קרוזר ארוך': 12, 'מודל 3': 13, '3008': 14, 'איביזה': 15, 'פורסטר': 16, 'i10': 17, 'RAV4 הייבריד': 18, 'ספארק': 19, 'C-HR': 20, 'Q3': 21, 'פוקוס': 22, 'קורולה הייבריד': 23, 'איוניק': 24, 'נירו הייבריד': 25, 'לאון': 26, 'סופרב (עד 2019)': 27, 'אקספלורר': 28, 'סדרה 5': 29, 'יאריס': 30, 'XV': 31, 'XC60': 32, 'טראוורס': 33, 'מיקרה': 34, 'A3': 35, 'ויטרה': 36, 'סונטה הייבריד': 37, 'מגאן גראנד קופה': 38, '5': 39, 'i20': 40, 'סיוויק סדאן החדשה': 41, 'i25': 42, 'פריוס': 43, 'גרנד ויטרה': 44, 'רנגלר ארוך': 45, "סיוויק האצ'בק החדשה": 46, "ג'ימני": 47, 'אקליפס קרוס': 48, 'X3': 49, 'לנד קרוזר קצר': 50, 'סנטה פה': 51, 'קאמרי': 52, 'סדרה 3': 53, 'גולף': 54, 'E-Class': 55, 'טיגואן': 56, 'X5': 57, 'אוריס הייבריד': 58, 'ברלינגו דור 2 (2008-2019)': 59, 'פאביה': 60, '500': 61, 'Q7': 62, 'i30CW': 63, "ג'טה": 64, 'קארוק': 65, 'GLE קופה': 66, 'אאוטלנדר PHEV': 67, 'CLA': 68, '4X4 D-MAX': 69, 'i30': 70, 'EHS PHEV': 71, 'סדרה 1': 72, 'אלנטרה (2016 ואילך)': 73, '208': 74, 'סטלויו': 75, '2008': 76, 'ASX': 77, 'Q5': 78, 'iX35': 79, 'A4': 80, 'X1': 81, 'אלטו': 82, 'GLC-Class קופה': 83, 'XT5': 84, 'RAV4 ארוך': 85, 'אסטרה': 86, "אדג' / EDGE": 87, 'ארונה': 88, '6': 89, 'סוויפט': 90, 'סורנטו': 91, 'ZS': 92, 'פאסאט': 93, 'פורמנטור': 94, 'C-Class קופה / קבריולט': 95, 'C4 פיקאסו': 96, 'קוגה': 97, 'קונה': 98, 'CR-V': 99, 'טראקס': 100, 'ראפיד': 101, 'SX4 קרוסאובר': 102, 'יאריס הייבריד': 103, 'HR-V': 104, 'קליאו דור 4 (2013-2019)': 105, '5008': 106, 'A-Class': 107, 'אקווינוקס': 108, 'קליאו דור 5 (2019 ואילך)': 109, 'GLE': 110, "ג'וליה": 111, 'סופרב (2019 ואילך)': 112, "פג'רו ארוך": 113, 'אטקה': 114, 'ספרינטר מסחרי': 115, 'סיד / CEED': 116, 'מוסטנג': 117, 'סוניק': 118, 'היילקס 4X4': 119, 'A1': 120, 'קליאו אסטייט': 121, 'פלואנס': 122, 'GLC': 123, 'XC90': 124, 'C5 איירקרוס': 125, 'S-Class': 126, 'לנסר קלאסיק': 127, 'דאסטר': 128, 'SX4': 129, 'קורסה': 130, 'סילברדו 2500': 131, 'סיינה': 132, 'סיריון': 133, 'NX': 134, 'Q2': 135, 'RX450H': 136, 'קפטיבה': 137, 'דובלו': 138, "ג'וק / Juke": 139, "ריינג' רובר ספורט": 140, 'GLA': 141, 'קומפאס': 142, 'אקסנט (עד 2012)': 143, 'X6': 144, 'סנטרה': 145, 'דוקאטו ארוך': 146, 'ספייס סטאר': 147, 'פולו': 148, 'ורסו': 149, 'רודיוס': 150, 'קרוז': 151, 'דיסקברי ספורט': 152, 'אניאק': 153, 'CX-3': 154, 'אוקטביה ספייס': 155, 'ריו': 156, 'טרנזיט קוסטום': 157, 'IS300h': 158, 'G Class': 159, 'קאיין': 160, 'XC40': 161, 'ML Class': 162, 'C4': 163, 'קרניבל': 164, 'סיוויק (עד 2006)': 165, 'אוקטביה RS': 166, 'RX300': 167, 'ייטי / Yeti': 168, 'בלנו': 169, 'טידה': 170, 'UX': 171, '207': 172, 'טרנספורטר מסחרי/נוסעים': 173, "גראנד וויאג'ר": 174, 'X4': 175, "קדגא'ר": 176, 'רנגלר קצר': 177, 'סטוניק': 178, 'EQC': 179, 'קשקאי פלוס 2': 180, "פג'רו קצר": 181, 'L200 האנטר 4X4': 182, 'S90': 183, 'C3': 184, 'סילברדו 3500': 185, 'גלאקסי': 186, '2': 187, 'סנדרו': 188, 'טרייל בלייזר': 189, 'אקורד': 190, 'E-Class קופה / קבריולט': 191, 'אימפרזה החדשה': 192, 'דאסטר החדש': 193, 'סדרה 4': 194, 'שירוקו': 195, 'אופטרה': 196, 'CLS': 197, 'טוארג': 198, "אימפרזה ניו אייג'": 199, 'קורולה RUN-X': 200, 'מונדאו': 201, 'קוליאוס': 202, 'קופר': 203, 'ויטו': 204, '159': 205, 'JCW': 206, 'אינסיגניה': 207, 'אבאו': 208, 'X2': 209, 'S-מקס': 210, "קפצ'ור": 211, 'EQA': 212, 'פולו GTI': 213, 'לה קרוס': 214, 'Geometry C': 215, 'אורלנדו': 216, 'גטס': 217, 'סנדרו Stepway': 218, 'אדם': 219, "ג'אז": 220, 'MG3': 221, 'H1': 222, 'C3 פיקאסו': 223, 'היילנדר': 224, 'סלטוס': 225, 'MPV': 226, 'לנסר הדור החדש': 227, 'איוניק 5': 228, 'קורבט': 229, 'מודל S': 230, 'היילקס ויגו 4X4': 231, 'i35': 232, 'קאדי': 233, 'לבנטה': 234, 'טאראקן': 235, 'MX-5': 236, "ריינג' רובר איווק": 237, 'בלייזר (2019 ואילך)': 238, 'טולדו': 239, 'CX-30': 240, 'E-tron': 241, 'ליאנה': 242, 'מגאן אסטייט/ גראנד טור': 243, 'B4': 244, '308': 245, 'A5': 246, 'S60': 247, 'מוקה': 248, 'זאפירה': 249, 'פאסאט CC': 250, 'V40': 251, "ג'אז הייבריד": 252, 'C-Class': 253, 'מי / MII': 254, 'טיפו': 255, 'TT': 256, 'FX50': 257, 'איגניס': 258, 'ספייס ורסו': 259, 'קובו / QUBO': 260, 'לוגאן MCV': 261, 'טראנו ארוך': 262, "B3 האצ'בק": 263, "לודג'י": 264, 'מאליבו': 265, "ג'אמפי קצר/בינוני": 266, 'פונטו ספייס (דור II)': 267, 'אלנטרה הייבריד (2021 ואילך)': 268, 'אוונסיס': 269, 'קורולה קרוס': 270, 'מאסטר ארוך': 271, 'RAV4 קצר': 272, 'FR-V': 273, 'אקסנט/ i25 החדשה (2019 ואילך)': 274, 'פריוס פלוס הייבריד': 275, 'אאוטבק החדשה': 276, 'B3 סדאן': 277, 'C4 ספייסטורר': 278, 'אוריס': 279, 'אופטימה / Optima': 280, 'מיטו / MITO': 281, '718 בוקסטר': 282, 'ברלינגו דור 3 (2018 ואילך)': 283, 'רומסטר': 284, '323 לאנטיס': 285, 'GE3': 286, 'מודל Y': 287, '301': 288, 'אודיסיי': 289, '2X4 D-MAX': 290, '107': 291, 'פורטה': 292, 'RSQ3': 293, 'סיטיגו / Citigo': 294, 'QX70 / FX37': 295, 'C4 קקטוס': 296, 'XT4': 297, "ג'ולייטה": 298, 'מקאן': 299, 'מודל X': 300, 'סניק דור 3 (2009-2014)': 301, 'ספרינטר 313/316': 302, 'קומבו': 303, '500L': 304, 'A6': 305, 'H3': 306, 'סוואנה ארוך': 307, 'דיסקברי 3': 308, 'דיפנדר': 309, 'DS7 Crossback / קרוסבק': 310, 'טרייטון / L200 4X4': 311, 'iX3': 312, '508': 313, 'בוקסר': 314, 'GV80': 315, 'H2': 316, 'טרופר קצר': 317, 'לנד קרוזר פרדו קצר': 318, 'גולף GTI': 319, 'SRX': 320, 'טייקן': 321, 'סדרה 7': 322, "ריינג' רובר": 323, 'GV60': 324, 'סדרה 2': 325, 'רקסטון': 326, 'U5': 327, 'Q30': 328, 'מוסטנג MACH E': 329, 'BZ4X': 330, 'פאנאמרה': 331, 'V-Class Taxi': 332, 'S5': 333, 'אי-דליבר 9': 334, 'גרנדלנד X': 335, 'טרופר ארוך': 336, 'M4': 337, 'פורד -MKC': 338, 'Q50': 339, 'F-Pace': 340, 'באיון': 341, 'Q8': 342, 'GX460': 343, 'קאמיק': 344, 'קאנטרימן': 345, 'אקונוליין ארוך': 346, 'פיאסטה': 347, 'ולוסטר': 348, 'קיירון': 349, 'A8': 350, 'רנגייד': 351, 'E-tron Q4': 352, 'מאטריה': 353, '595': 354, 'נירו EV': 355, 'אלהמברה': 356, 'אפלנדר': 357, 'B2500 4X4': 358, 'C1': 359, 'אלנטרה (2001-2007)': 360, 'פריוס פלאג-אין': 361, 'קאדי מקסי': 362, 'F-150': 363, 'קראפטר': 364, 'אלטימה': 365, 'GS250': 366, '350': 367, 'איפון 4X4': 368, 'פטרול': 369, 'XCEED': 370, 'טוראן': 371, 'FX': 372, "ריינג' רובר וולאר": 373, 'סיוויק הייבריד': 374, 'קנגו החדשה': 375, 'ET5': 376, 'לנד קרוזר פרדו ארוך': 377, 'SC430': 378, '500X': 379, 'אינסייט': 380, 'קארנס': 381, '206 +': 382, 'קליאו דור 3 (2006-2014)': 383, 'C5': 384, 'מגאן דור 1 (1996-2004)': 385, 'לאונה': 386, 'קרוסלנד X': 387, 'אוונסיס ורסו': 388, 'מאגנום 4X4': 389, 'רודסטר': 390, 'F-250': 391, 'טרייטון / L200 2X4': 392, '206': 393, 'גולף R': 394, "גרנד צ'ירוקי (עד 2004)": 395, 'K2500': 396, 'T-Cross': 397, 'A7': 398, '911 קאררה': 399, 'היילקס 2X4': 400, 'לוצרן': 401, 'נירו PHEV': 402, 'ליברטי (עד 2013)': 403, 'ES300H': 404, 'CT200H': 405, 'i8': 406, 'סדרה 6': 407, 'אייגו (AYGO)': 408, 'אלתיאה XL': 409, 'חיפושית החדשה': 410, 'סיוויק Type-R': 411, 'פרטנר דור 2 (2008-2017)': 412, 'סואנה': 413, 'סיוויק סטיישן': 414, 'ID4': 415, 'CLK': 416, 'LS430': 417, 'אייגו קרוס (AYGO X)': 418, 'סול': 419, 'ATS': 420, 'דיסקברי 4': 421, "פאת'פיינדר": 422, 'אבולטיס': 423, '323': 424, 'הייאס קצר': 425, 'גולף פלוס': 426, 'TGE': 427, 'טורנאו קונקט קצר': 428, '2 דמיו': 429, 'טראפיק ארוך': 430, 'דוקאטו קצר/בינוני': 431, 'ויוארו ארוך': 432, 'H350': 433, 'TIGGO 8 Pro': 434, 'אנקלייב': 435, "אטראז'": 436, 'קונה EV': 437, 'GV70': 438, 'גרנדיס': 439, 'S-Class קבריולט': 440, 'לוגאן / MCV': 441, 'CTS': 442, 'GT AMG': 443, 'XE': 444, 'קאליבר': 445, 'פורטו': 446, 'קרוז החדשה': 447, 'B-Class Taxi': 448, 'אוולון הייבריד': 449, 'וניו': 450, 'E-C4': 451, 'אימפלה': 452, 'מוקה X': 453, 'GS300H': 454, 'C70': 455, 'GLB': 456}

In [7]:
#create new encoded column
data['enc_model'] = None

In [8]:
# encode the mode col
for index, row in data.iterrows():
    data.at[index, ['enc_model']] = model_enc_dict[row.model]
data

,ad_num,company,model,price,engine,year,hand,km,eng_kind,test,...,prev_owner,color,gearbox,trader,area,sub_area,price_list,price0705,enc_company,enc_model
1,65146899.0,ג'יפ / Jeep,גרנד צ'ירוקי,140000.0,3604.0,2017,2,95000,7,05/2023,...,6.0,1,0.0,0,2,מודיעין מכבים רעות,159500.0,140000.0,16,9
2,73811682.0,ג'יפ / Jeep,רנגלר ארוך,268000.0,1995.0,2021,2,29000,7,03/2024,...,0.0,0,0.0,0,2,רמת גן,278100.0,-1.0,16,45
3,77276021.0,מיצובישי,אאוטלנדר PHEV,149000.0,2360.0,2020,2,74000,3,12/2023,...,0.0,0,0.0,0,2,פתח תקווה,155500.0,-1.0,4,67
4,55670284.0,שברולט,טרייל בלייזר,145000.0,1341.0,2022,1,17000,7,01/2024,...,0.0,1,0.0,0,2,רמלה,152100.0,126000.0,8,189
5,93516523.0,וולוו,XC60,250000.0,1969.0,2022,2,30000,7,01/2024,...,0.0,2,0.0,0,2,פתח תקווה,274700.0,250000.0,22,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,61230592.0,מאזדה,3,15000.0,1598.0,2009,3,300000,7,10/2023,...,2.0,2,0.0,0,43,ירוחם,12700.0,17000.0,6,11
3385,96450445.0,טויוטה,אוריס הייבריד,62000.0,1798.0,2014,3,147000,7,11/2023,...,0.0,0,0.0,0,43,באר שבע,54900.0,60000.0,0,58
3386,87660871.0,פיאט,דובלו,58000.0,1598.0,2017,1,53500,6,09/2023,...,0.0,0,1.0,0,43,אופקים,-1.0,29000.0,23,138
3387,69065361.0,ג'יפ / Jeep,קומפאס,230000.0,1332.0,2022,1,7000,3,11/2023,...,0.0,1,0.0,0,43,אופקים,223900.0,220000.0,16,142
3388,94410775.0,מרצדס,GLB,245000.0,1332.0,2020,1,60000,7,07/2023,...,0.0,0,0.0,0,43,באר שבע,240500.0,245000.0,7,456

In [9]:
# export the clean data
data.to_csv('./data/clean_data_0705.csv')